<!doctype html>
<html>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cédric, on mange où?" />
    <title>Cédric, on mange où?</title>
    <link rel="shortcut icon" href="{{ url_for('.static', filename='img/favicon.png') }}" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'css/custom.css') }}" />
    <style>
        div.olMap {
            cursor: default;
            height: 600px;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            z-index: 0;
        }
    </style>
    <script src="{{ url_for('static', filename='npm_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = './js/OpenLayers.js') }}"></script>
    <script src="{{ url_for('.static', filename = './js/geolocalization.js') }}"></script>
  </head>
  {% endblock %}
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(107, 91, 149);">
        <a class="navbar-brand" href="/">Cédric, on mange où?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% block menu_links %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a href="/list"><span class="glyphicon glyphicon-list"></span> Available restaurants</a>
                </li>
            </ul>
        </div>
        {% endblock %}
    </nav>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <footer class="footer" style="background-color: rgb(107, 91, 149);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p>This software is under AGPLv3 license. You are welcome to copy, modify or redistribute the
                    <a href="https://gitlab.com/cedric/cedric-onmange-ou">source code</a> according to the
                    <a href="https://www.gnu.org/licenses/agpl-3.0.txt">AGPLv3</a> license.</p>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
